[submodule "recog_opencv/third_party/realsense-ros"]
	path = recog_opencv/third_party/realsense-ros
	url = https://github.com/IntelRealSense/realsense-ros.git
[submodule "third_party/Gaze-Attention"]
	path = third_party/Gaze-Attention
	url = git@github.com:MichiganCOG/Gaze-Attention.git
