<launch>
    <arg name="rosbag_start_delay" default="5.0" />
    <arg name="save_name" default="1010_02"/>
    <arg name="topic_name_rgb" default="/hsrb/head_rgbd_sensor/rgb/image_rect_color"/>
    <arg name="topic_name_dpt" default="/hsrb/head_rgbd_sensor/depth_registered/image_rect_raw"/>
    <arg name="topic_name_inf" default="/hsrb/head_rgbd_sensor/depth_registered/camera_info"/>

    <node 
        pkg="object_detector" 
        name="hsr_move_controller" 
        type="hsr_move.py" 
        output="screen" 
    />
    <node
        pkg="rosbag" 
        name="record" 
        type="record" 
        args="-O /media/hayashide/KIOXIA/hayashide/rosbag/$(arg save_name).bag $(arg topic_name_rgb) $(arg topic_name_dpt) $(arg topic_name_inf)"
    />
</launch>

<!--         launch-prefix="bash -c 'sleep $(arg rosbag_start_delay); $0 $@' " -->