<launch>
    <arg name="python_start_delay" default="5.0" />
    <arg name="rviz_start_delay" default="10.0" />
    <arg name="prefix" default="camera4"/>
    <arg name="save_name" default="test"/>

    <include file="$(find object_detector)/launch/whill_realsense_cam1.launch" />

    <!-- Realsense Offset Broadcaster -->
    <arg name="camera_angle" default="0.2617" />
    <node ns="camera1" pkg="tf"	name="whill_base_footprint_to_camera1"
    type="static_transform_publisher" args="0.55 -0.255 0.589 -$(arg camera_angle) 0 1.5707 /base_link /camera1_link 10" /> <!--right height: 0.53-0.059-->
    <!-- Realsense Offset Broadcaster -->
    <node 
        ns="camera2" 
        pkg="tf"	
        name="whill_base_footprint_to_camera2"
        type="static_transform_publisher" 
        args="0.55 0.255 0.471 $(arg camera_angle) 0 -1.5707 /base_link /camera2_link 10" 
    /> <!--left height: 0.53+0.059-->

    <node 
        pkg="object_detector" 
        name="human_detector" 
        type="human_detection.py" 
        output="screen" 
        launch-prefix="bash -c 'sleep $(arg python_start_delay); $0 $@' "
        args="$(arg save_name) /camera1_link /camera1"
    />
    <!-- <node
        pkg="rosbag" 
        name="record" 
        type="record" 
        args="-O /mnt/ssd/rosbag/$(arg save_name).bag $(arg prefix)/camera/color/image_raw/ $(arg prefix)/camera/aligned_depth_to_color/image_raw $(arg prefix)/camera/depth/image_rect_raw $(arg prefix)/camera/depth/camera_info"
    /> -->
    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find object_detector)/rviz/human_detection.rviz" launch-prefix="bash -c 'sleep $(arg rviz_start_delay); $0 $@' "/>

</launch>